<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todos los eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo1">Selecciona el evento que deseas!😎</h1>
  <ion-list class="lista">
    <ion-item *ngFor="let evento of eventos" (click)="irAFormularioCliente(evento, $event)" class="evento-item">
      <ion-label>
        <h2>{{ evento.nombre }}</h2>
        <p style="color: aliceblue;">Precio: ${{ evento.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Venta de Entradas © 2024</ion-title>
  </ion-toolbar>
</ion-footer>
